<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickLoan">

        <!-- Launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Lender Activities -->
        <activity android:name=".LenderMainActivity" />
        <activity android:name=".MasterActivity" />

        <!-- Customer Activities (MUST BE LISTED HERE) -->
        <activity android:name=".CustomerProfileActivity" />
        <activity android:name=".CustomerMainActivity" />
    </application>

</manifest>
