<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Safe Network Permissions (HTTPS Only) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Package Visibility for WhatsApp, Dialing & PDF Viewers -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>

        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="QuickLoan"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="false">

          <activity
    android:name=".AddBorrowerActivity"
    android:exported="false"
    android:screenOrientation="portrait" />


        <!-- Splash Screen Entry -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".LenderMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MasterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ApproveLoanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TransferMoneyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".TodaysDueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TodaysPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CustomerMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ApplyLoanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".CustomerApprovedLoansActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CustomerLedgerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PayDailyEmiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Secure Storage FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
