<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Network Access for Supabase REST API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickLoan">

        <!-- 1. App Launch / Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Authentication & Onboarding -->
        <activity 
    android:name=".LoginActivity" 
  android:theme="@style/Theme.QuickLoan" />


        <activity android:name=".RegisterActivity" />
        <activity android:name=".CustomerProfileActivity" />

        <!-- 3. Lender Panel Screens -->
        <activity android:name=".LenderMainActivity" />
        <activity android:name=".MasterActivity" />
        <activity android:name=".ApproveLoanActivity" />
        <activity android:name=".TransferMoneyActivity" />
        <activity android:name=".TodaysDueActivity" />
        <activity android:name=".TodaysPaymentActivity" />

        <!-- 4. Customer Panel Screens -->
        <activity android:name=".CustomerMainActivity" />
        <activity android:name=".ApplyLoanActivity" />
        <activity android:name=".CustomerApprovedLoansActivity" />
        <activity android:name=".PayDailyEmiActivity" />
        <activity android:name=".CustomerLedgerActivity" />
        <activity android:name=".PaymentHistoryActivity" />

    </application>

</manifest>
